.page-container {
	display: flex;
	flex-direction: row;
	height: 95vh;
	margin: 0;
}

.page-containerMenu {
	width: 15%;
}

.page-containerContent {
	width: 85%;
	padding: 1rem;
}

/*
Seminar page Css
*/
.seminarDetailsTable {
	width: 95% !important;
}

.seminarDetailsTable .description, .thema {
	max-width: 15rem;
	text-align: justify;
}

.seminarDetailsTable  .seminarTitle {
	min-width: 6rem;
}

.seminarDetailsTable .seminarDetails a {
	color: black;
}

.seminarPageContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	height: 100%;
} /*
! Seminar page Css
*/